@inject IJSRuntime JavaScript

<div id="map" style="width: 100%; height: 45vh;"></div>

@code {
    [Parameter, EditorRequired]
    public GeolocationPosition Position { get; set; } = null!;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (Position is null or { Coords: null })
        {
            return;
        }

        await JavaScript.InvokeVoidAsync(
            "app.loadMap", "map", Position.Coords.Latitude, Position.Coords.Longitude);
    }
}
