@page "/geolocation"

@inject IGeolocationService Geolocation

<PageTitle>Geolocation</PageTitle>
<h1>
    Geolocation
    @if (_isLoading)
    {
        <span class="spinner-border text-primary" style="border-width: .12em;" role="status">
            <span class="visually-hidden">Loading...</span>
        </span>
    }
    @if (_position is not null)
    {
        <span>: 
            <code>
                @(_position.TimestampAsUtcDateTime.ToLocalTime().ToString())
            </code>
        </span>
    }
</h1>

@if (_isLoading)
{
    <p>This page demonstrates the source generated <code>Blazor.Geolocation.WebAssembly</code> package.</p>
}

@{
    var (bgClass, json) = (_position, _positionError) switch
    {
        (null, { }) => ("bg-danger", _positionError.ToJson(_opts)),
        ({ }, null) => ("bg-dark", _position.ToJson(_opts)),
        _ => ("", null)
    };
    if (bgClass is not "" && json is not null)
    {
        <pre class="@bgClass text-light fs-4 p-4"> 
            <code>@json</code>
        </pre>
    }

    <BingMap Position=@_position />
}