@page "/counter"
@inject IStorage LocalStorage
@inject NavigationManager Nav
@implements IDisposable

<PageTitle>Counter (@_currentCount)</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @_currentCount</p>

<input type="checkbox" @bind=_isDisabled /> Disabled: @_isDisabled

<button class="btn btn-primary"
    disabled=@_isDisabled @onclick="IncrementCount">Increment</button>

@code {
    private int _currentCount = 0;
    private bool _isDisabled = true;

    private void IncrementCount() => 
        LocalStorage.SetItem<int>("CounterValue", ++_currentCount);

    protected override void OnInitialized()
    {
        base.OnInitialized();

        Nav.LocationChanged += OnLocationChanged;

        _isDisabled = LocalStorage.GetItem<bool>("Disabled");
        _currentCount = LocalStorage.GetItem<int>("CounterValue");
    }

    public void Dispose()
    {
        Nav.LocationChanged -= OnLocationChanged;
    }

    void OnLocationChanged(object? sender, LocationChangedEventArgs args) =>
        LocalStorage.SetItem<bool>("Disabled", _isDisabled);
}
