@page "/sandbox"
@inject IGeolocationService GeolocationService

<h1>
    🎭 Sandbox
    @if (_isLoading)
    {
        <span class="spinner-border text-primary" style="border-width: .12em;" role="status">
            <span class="visually-hidden">Loading...</span>
        </span>
    }
    @if (_position is not null)
    {
        <span class="pe-1">: 
            <code>
                @(_position.TimestampAsUtcDateTime.ToLocalTime().ToString())
            </code>
        </span>
        <a href="https://www.nuget.org/packages/Blazor.LocalStorage.WebAssembly" target="_blank"
            rel="noopener noreferrer nofollow">
            <span class="oi oi-external-link"></span>
        </a>
    }
</h1>
<pre class="bg-dark text-info fs-4 p-4">
    <code>
        @{
            var opts = new JsonSerializerOptions()
            {
                WriteIndented = true,
                PropertyNamingPolicy = JsonNamingPolicy.CamelCase,
                DefaultIgnoreCondition = JsonIgnoreCondition.WhenWritingNull
            };
        }
        @(_position?.ToJson(opts) ?? _positionError?.ToJson(opts))
    </code>
</pre>
<BingMap Position=@_position />

@code {
    bool _isLoading => _position is null && _positionError is null;
    
    GeolocationPosition? _position;
    GeolocationPositionError? _positionError;

    protected override void OnInitialized() =>
        GeolocationService.GetCurrentPosition(
            position =>
            {
                _position = position;
                StateHasChanged();
            },
            positionError =>
            {
                _positionError = positionError;
                StateHasChanged();
            });
}
