@page "/todos"

<PageTitle>Tasks</PageTitle>

<h1>
    <span class="pe-1">Local Storage</span>
    <a href="https://www.nuget.org/packages/Blazor.LocalStorage" target="_blank"
       rel="noopener noreferrer nofollow">
        <span class="oi oi-external-link"></span>
    </a>
</h1>
<p>This page demonstrates the source generated <code>Blazor.LocalStorage</code> package.</p>

<div class="card">
    <div class="card-body p-5">
        <div class="d-flex justify-content-center align-items-center">
            <div class="form-outline flex-fill">
                <div class="input-group">
                    <input id="todo" type="text" class="form-control form-control-lg"
                           @bind=_todoValue
                           @onkeyup="@OnKeyUp"
                           autocomplete="off"
                           placeholder="New task..." />
                    <button id="add" type="button" class="btn btn-primary"
                            @onclick="AddNewTodoAsync">
                        Add
                    </button>
                    <button id="clearall" type="button" class="btn btn-danger"
                            @onclick="ClearAll">
                        Clear All
                    </button>
                </div>
            </div>
        </div>
        @if (_todos is { Count: > 0 })
        {
            <ul id="todo-list" class="list-group mb-0 pt-5">
                @foreach (var todo in _todos)
                {
                    <li class="list-group-item d-flex align-items-center border-0 mb-2 rounded bg-light">
                        <StorageCheckbox Item=@todo ItemChanged=@OnItemChanged>
                            <EndContent>
                                <button class="btn btn-danger" type="button" 
                                    @onclick=@(_ => Delete(todo))>
                                    <span class="oi oi-trash"></span>
                                </button>
                            </EndContent>
                        </StorageCheckbox>
                    </li>
                }
            </ul>
        }
    </div>
</div>
@if (_localStorageItems is { Count: > 0 })
{
    <div class="card mt-4">
        <div class="card-body">
            <details>
                <summary>Raw <code>window.localStorage</code> values</summary>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Key</th>
                            <th scope="col">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var (i, key, value) in _localStorageItems.Select((kvp, i) => (i, kvp.Key, kvp.Value)))
                    {
                        <tr>
                            <th scope="row">@i.ToString()</th>
                            <td><code>@key.ToString()</code></td>
                            <td><code>@value.ToString()</code></td>
                        </tr>
                    }
                    </tbody>
                </table>
            </details>
        </div>
    </div>
}