<div class="alert alert-secondary mt-4">
    <span class="oi oi-code me-2" aria-hidden="true"></span>
    <strong class="alert-title">@Title</strong>
    <span>
        Want to see the source code? Check it out
        <a target="_blank" class="font-weight-bold" href="https://github.com/IEvangelist/blazorators">on GitHub</a>.
    </span>
</div>

@code {
    [Parameter] public string? Title { get; set; }
}
