<MudAlert Severity="Severity.Info" Variant="Variant.Outlined" Class="mt-4">
    <div class="d-flex align-items-center">
        <MudIcon Icon="Icons.Material.Filled.Code" Class="mr-2" />
        <div>
            <MudText Typo="Typo.subtitle1"><strong>@Title</strong></MudText>
            <MudText Typo="Typo.body2">
                Want to see the source code? Check it out
                <MudLink Href="https://github.com/IEvangelist/blazorators" Target="_blank" Class="font-weight-bold">
                    on GitHub
                </MudLink>.
            </MudText>
        </div>
    </div>
</MudAlert>

@code {
    [Parameter] public string? Title { get; set; }
}
