@inject ILocalStorageService LocalStorage

<div class="d-flex align-items-center">
    <MudCheckBox @bind-Checked="Item.IsCompleted" 
                 Color="Color.Primary"
                 T="bool"
                 ValueChanged="@OnIsCompletedChanged" />
    <MudText Class="ml-2 flex-grow-1">@Item.Task</MudText>
</div>

@code {
    [Parameter, EditorRequired]
    public TodoItem Item { get; set; } = null!;

    [Parameter]
    public EventCallback<TodoItem> ItemChanged { get; set; }

    Task OnIsCompletedChanged(bool isCompleted)
    {
        LocalStorage.SetItem(
            Item.Id,
            Item = Item with { IsCompleted = isCompleted });

        if (ItemChanged.HasDelegate)
        {
            return ItemChanged.InvokeAsync(Item);
        }

        return Task.CompletedTask;
    }
}