@page "/"

<PageTitle>Home</PageTitle>

<h1>Hi friends! 🤓</h1>

<p>This sample app shows how to consume the source-generated projects of #blazorators.</p>

<RepositoryPrompt Title="GitHub: IEvangelist/blazorators" />
