@page "/track"

@inject IGeolocationService Geolocation

<PageTitle>Track</PageTitle>
<h1>
    Geolocation
    @if (_isLoading)
    {
        <span class="spinner-border text-primary" style="border-width: .12em;" role="status">
            <span class="visually-hidden">Loading...</span>
        </span>
    }
    @if (_position is not null)
    {
        <span class="pe-1">: 
            <code>
                @(_position.TimestampAsUtcDateTime.ToLocalTime().ToString())
            </code>
        </span>
        <a href="https://www.nuget.org/packages/Blazor.LocalStorage.WebAssembly" target="_blank"
            rel="noopener noreferrer nofollow">
            <span class="oi oi-external-link"></span>
        </a>
    }
</h1>

@if (_isLoading)
{
    <p>This page demonstrates the source generated <code>Blazor.Geolocation.WebAssembly</code> package.</p>
}

@{
    <Code Value=@_position T=GeolocationPosition IsError=false />
    <Code Value=@_positionError T=GeolocationPositionError IsError=true />

    <BingMap Position=@_position />
}